{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% block modal-body-right %}
  {% ifequal plan_type 'clone' %}
    <h4>{% trans "Description:" %}</h4>
    <p>{% trans "Clone All the resources of this plan to another specific availability zone." %}</p>
    <h4>{% trans "Clone System Volume" %}</h4>
    <p>{% trans "Clone the instances with it's bootable volume together." %}</p>
  {% endifequal %}
  {% ifequal plan_type 'migrate' %}
    <h4>{% trans "Description:" %}</h4>
    <p>{% trans "Migrate All the resources of this plan to another specific availability zone." %}</p>
  {% endifequal %}
{% endblock %}
