{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% block modal-body-right %}
  <h4>{% trans "Description:" %}</h4>
  {% ifequal plan_type 'clone' %}
    <p>{% trans "Clone action will clone all rsources of this plan to another specific availability zone." %}</p>
  {% endifequal %}
  {% ifequal plan_type 'migrate' %}
    <p>{% trans "Migrate action will migrate all rsources of this plan to another specific availability zone." %}</p>
  {% endifequal %}
  <p>{% trans "you are able to provide options like 'clone sys volume' or 'copy volume data' for this plan." %}</p>
{% endblock %}
