{% load i18n %}
<div class="status detail">
  <dl class="dl-horizontal">
    <dt>{% trans "ID" %}</dt>
    <dd>{{ plan.plan_id }}</dd>
    <dt>{% trans "Plan Type" %}</dt>
    <dd>{% trans plan.plan_type|title %}</dd>
    <dt>{% trans "Create Time" %}</dt>
    <dd>{{ plan.created_at|parse_isotime }}</dd>
    <dt>{% trans "Plan Status" %}</dt>
    <dd>{% trans plan.plan_status|title %}</dd>
    <dt>{% trans "Clone Objects" %}</dt>
    {% for res in plan.clone_obj %}
    <dd>{{ res.obj_type }}  {{ res.obj_id }}</dd>
    {% endfor %}
  </dl>
</div>
