{% load i18n sizeformat %} {% load url from future %} {% load static %}
<link rel="stylesheet" href="{% static 'conveyordashboard/css/conveyordashboard.css' %}"/>
<h3>{% trans "Plan Overview" %}</h3>
<div class="status detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "ID" %}</dt>
    <dd>{{ plan.plan_id }}</dd>
    <dt>{% trans "Plan Type" %}</dt>
    <dd>{{ plan.plan_type }}</dd>
    <dt>{% trans "Create Time" %}</dt>
    <dd>{{ plan.created_at|parse_isotime }}</dd>
    <dt>{% trans "Expire Time" %}</dt>
    <dd>{{ plan.expire_at|parse_isotime }}</dd>
    <dt>{% trans "Plan Status" %}</dt>
    <dd>{{ plan.plan_status }}
  </dl>
</div>

<div class="status detail">
  <h4>
    <span class="fa fa-chevron-down" item_id="original_resources_container"></span>{% trans "Original Resources" %}
  </h4>
  <hr class="header_rule">
  <div id="original_resources_container" class="drc">
    {% for key, value in plan.original_resources.items %}
      {{ value }}
    {% endfor %}
  </div>
</div>

<div class="status detail">
  <h4>
    <span class="fa fa-chevron-down" item_id="updated_resources_container"></span>{% trans "Updated Resources" %}
  </h4>
  <hr class="header_rule"/>
  <div id="updated_resources_container" class="drc">
    {% for key, value in plan.updated_resources.items %}
      {{ value }}
    {% endfor %}
  </div>
</div>
<script>
  $(function () {
    "use strict";
    $('span.fa').click(function () {
      $(this).toggleClass('fa-chevron-down').toggleClass('fa-chevron-right');
      $('#' + $(this).attr('item_id')).slideToggle();
    });
  })
</script>
