{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load static %}
{% load url from future %}
{% block modal-body %}
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
  {% include "_deps_topo.html" %}
{% endblock %}
{% block modal-footer %}
  <a class="btn btn-default cancel cancel_migrate" href="{% url 'horizon:conveyor:plans:index' %}">{% trans "Cancel" %}</a>
  <a class="btn btn-default btn-sm ajax-modal" href="{% url 'horizon:conveyor:plans:save' plan_id %}">{% trans "Save" %}</a>
  <a class="btn btn-default btn-sm ajax-modal" href="{% url 'horizon:conveyor:plans:destination' plan_id %}">{% trans "Migrate" %}</a>
{% endblock %}
