{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load static %}
{% load url from future %}
{% block form_action %}{% url 'horizon:conveyor:plans:modify' plan_id %}{% endblock %}
{% block modal-body %}
  <fieldset>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
  {% include "_deps_topo.html" %}
  <script>
    $(function () {
      "use strict";
      $("g.node[cloned=false]").click(function () {
        conveyorEditPlanRes.nodeClick(this);
      });
      $('[type=submit]').click(function () {
        $('form#modify_form').submit();
      });
    });
  </script>
{% endblock %}
