{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load compress %}
{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'conveyordashboard/css/jquery.treeTable.css' %}"/>
    <link rel="stylesheet" href="{% static 'conveyordashboard/css/deps_topo.css' %}"/>
  {% endcompress %}
{% endblock %}
{% block title %}{% trans "Overview" %}{% endblock %}
{% block main %}
  <div id="hide_ori_data" style="display: none">{{ table.render }}</div>
  <div id="conveyor_project_id" class="hide">{{ project_id }}</div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script>
    $(function () {
      conveyorProjectOverview.init();
    })
  </script>
{% endblock %}
