{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Overview" %}{% endblock %}

{% block main %}
{{table.render}}
  <!--<div id="networks">-->
      <!--{{ networks_table.render }}-->
  <!--</div>-->
  <!--<div id="subnets">-->
      <!--{{ subnets_table.render }}-->
  <!--</div>-->
  <!--<div id="routers">-->
      <!--{{ routers_table.render }}-->
  <!--</div>-->
{% endblock %}
{% block js %}
  {% include "horizon/_scripts.html" %}
  <script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.selector.js' %}"></script>
{% endblock %}