{% load i18n %}
<a href="#close" class="closeTopologyBalloon pull-right">&times;</a>
{% include template_name %}
<script type="text/javascript">
$(function(){
    "use strict";
    var action;
    var cancel_actions = ["a.closeTopologyBalloon", "button.cancel"];
    var save_actions = ["button.save-info"];
    for(action in cancel_actions){
      if($(cancel_actions[action]).length){
        $(cancel_actions[action]).click(function () {
          conveyorEditPlanRes.hideTableInfo();
          return false;
        });
      }}
    for(action in save_actions){
      if($(save_actions[action]).length){
        $(save_actions[action]).click(function () {
          conveyorEditPlanRes.saveTableInfo();
          return false;
        });
      }
    }
});
</script>