{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
	{% if data.name %}
	<div class="form-group">{{ data.name }}</div>
	{% endif %}
	<div class="form-group"><label class="control-label">{% trans "RAM" %}</label><div class=" ">{{ data.ram }} MB</div></div>
	<div class="form-group"><label class="control-label">{% trans "VCPUs" %}</label><div class=" ">{{ data.vcpus }} VCPU</div></div>
	<div class="form-group"><label class="control-label">{% trans "Disk" %}</label><div class=" ">{{ data.disk }} GB</div></div>
</div>
