{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
	{% if data.name %}<div class="form-group header"><label class="control-label">{{ data.name }}</label></div>{% endif %}
	{% if data.fips %}
	<div class="form-group">
	    <label class="control-label">{% trans "Floating Ip"%}</label>
		<div class=" ">
		<select class="form-control" name="fips" data-ori="{{ id }}">
		{% for fip in data.fips %}
			<option name="fip" value="{{ fip.id }}" {%ifequal id fip.id %}selected="selected"{%endifequal%}>{{ fip.floating_ip_address }}</option> 
		{% endfor %}
		</select>
		</div>
	</div>
	{% endif %}
</div>
