{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
  {% if data.name %}
    <div class="form-group">
      <label class="control-label">{% trans "Name" %}</label>
      <div class=" ">{{ data.name }}</div>
    </div>
  {% endif %}
  <div class="form-group">
    <label class="control-label">{% trans "Key Pair" %}</label>
    <div class=" ">
      <select name="keypairs" class="form-control" data-ori="{{ data.name }}">
        {% for keypair in data.keypairs %}
          <option name="keypair" value="{{ keypair.name }}" {%ifequal keypair.name data.name%}selected="selected"{%endifequal%}>{{ keypair.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
