{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
  {% if data.name %}
    <div class="form-group">
      <label class="control-label">{% trans "Name" %}</label>
      <div class>{{ data.name }}</div>
    </div>
  {% endif %}
  <div class="form-group">
    <label class="control-label">{% trans "Name" %}</label>
    <div class>
      <input class="form-control" id="id_name" name="name" type="text"
             data-ori="{{ data.name }}" value="{{ data.name }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">{% trans "Protocol" %}</label>
    <div class>
      <select class="form-control" name="protocols"
              data-ori="{{ data.protocol }}">
        <option name="protocol" value="HTTP" {% ifequal data.protocol "HTTP" %}selected="selected"{% endifequal %}>
          HTTP
        </option>
        <option name="protocol" value="HTTPS" {% ifequal data.protocol "HTTPS" %}selected="selected"{% endifequal %}>
          HTTPS
        </option>
        <option name="protocol" value="TCP" {% ifequal data.protocol "TCP" %}selected="selected"{% endifequal %}>
          TCP
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">{% trans "Load Balancing Method" %}</label>
    <div class>
      <select class="form-control" name="lb_methods"
              data-ori="{{ data.lb_method }}">
        <option name="lb_method" value="ROUND_ROBIN"
          {% ifequal data.lb_method "ROUND_ROBIN" %}selected="selected"{% endifequal %}>
          ROUND_ROBIN
        </option>
        <option name="lb_method" value="LEAST_CONNECTIONS"
          {% ifequal data.lb_method "LEAST_CONNECTIONS" %}selected="selected"{% endifequal %}>
          LEAST_CONNECTIONS
        </option>
        <option name="lb_method" value="SOURCE_IP"
          {% ifequal data.lb_method "SOURCE_IP" %}selected="selected"{% endifequal %}>
          SOURCE_IP
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">{% trans "Admin State" %}</label>
    <div class>
      <select class="form-control" name="admin_state_ups" data-ori="{{ data.admin_state_up }}">
        <option name="admin_state_up" value="True" {% ifequal data.admin_state_up "True" %}selected="selected"{% endifequal %}>
          Up
        </option>
        <option name="admin_state_up" value="False"{% ifequal data.admin_state_up "False" %}selected="selected"{% endifequal %}>
          Down
        </option>
      </select>
    </div>
  </div>
</div>
