{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}"  data-id="{{id}}">
  {%if data.name%}
    <div class="form-group">
      <label class="control-label">{% trans "Name" %}</label>
      <div class=" ">{{ data.name }}</div>
    </div>
  {%endif%}
  <div class="form-group">
    <label class="control-label">{%trans "Specs" %}</label>
    <div class=" "><textarea id="id_specs" class="form-control" cols="40" rows="5" readonly="readonly">{{ data.specs }}</textarea></div>
  </div>
</div>
