{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
  <div class="form-group">
    <label class="control-label">{% trans "Name" %}</label>
    <div class=" ">
      <input class="form-control" id="id_name" name="name" type="text" data-ori="{{ data.name }}" value="{{ data.name }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">{% trans "Size" %}</label>
    <div class=" ">
      <input class="form-control" id="id_size" name="size" type="number" data-ori="{{ data.size }}" min="{{ data.size }}" value="{{ data.size }}"></div>
  </div>
  <div class="form-group">
    <label class="control-label">{% trans "Metadata" %}</label>
    <span class="help-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% trans "Each entry is key=value , and one entry per line." %}"><span class="fa fa-question-circle"></span></span>
    <div class=" "><textarea id="id_metadata" class="form-control" data-ori="{{ data.metadata }}" cols="40" rows="5">{{ data.metadata }}</textarea></div>
  </div>
  {% if data.volumes %}
    <div class="form-group ">
      <div class="">
        <div class="checkbox"><label><input
          {% if data.from_other %}checked="checked"{% endif %} id="id_from_other"
          name="from_other"
          type="checkbox"><span>Select from Other Volumes</span></label></div>
      </div>
    </div>
    <div class="form-group ">
      <label class="control-label">{% trans "Volumes" %}</label>
      <div class=" ">
        <select class="form-control" name="volumes" data-ori="{{ id }}">
          {% for v in data.volumes %}
            <option name="volume" value="{{ v.id }}"
                    {% ifequal id v.id %}selected="selected"{% endifequal %}>{{ v.display_name }} {{ v.id }}</option>{% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  <div class="form-group ">
    <div class="">
      <div class="checkbox">
        <label><input {% if data.copy_data %}checked="checked"{% endif %} id="id_copy_data" name="copy_data" type="checkbox"><span>{% trans "Copy Volume Data" %}</span></label>
      </div>
    </div>
  </div>
</div>
