{% load static %}
<link rel="stylesheet" href="{% static 'conveyordashboard/css/jquery.treeTable.css' %}"/>
<link rel="stylesheet" href="{% static 'conveyordashboard/css/deps_topo.css' %}"/>
<script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.topology.js' %}"></script>
<div id="resource_container" class="resource_container">
  <div id="info_box" class="info_box"></div>
  <div id="stack_box" class="stack_box"></div>
  <div id="plan_deps_table">{{ plan_deps_table }}</div>
  <div id="conveyor_plan_topology"></div>
  <div id="resource_info_box"></div>
  <div id="thumbnail">
    <div class="thbDetail"></div>
  </div>
  <div id="d3_data" data-d3_data="{{ d3_data }}"></div>
  <a id="edit_plan_res" class="hidden btn btn-default btn-sm ajax-modal" href=""></a>
</div>
<script type="text/javascript">
  depsTreeTableAndCallTopo();
</script>