{% load static %}
{% load compress %}
{% compress css %}
  <link rel="stylesheet" href="{% static 'conveyordashboard/css/jquery.treeTable.css' %}"/>
  <link rel="stylesheet" href="{% static 'conveyordashboard/css/deps_topo.css' %}"/>
{% endcompress %}
<div>
  <div id="plan_deps_table">{{ step.plan_deps_table }}</div>
  <div id="conveyor_plan_topology">
    <div id="info_box" class="info_box"></div>
    <div id="thumbnail">
      <div class="thbDetail"></div>
    </div>
  </div>
  <div id="d3_data" data-d3_data="{{ step.d3_data }}"></div>
</div>
<script type="text/javascript">
  $(function () {
    "use strict";
    if(!$('.conveyor-overview').length){$('#plan_deps_table').css('max-height', '200px')}
    depsTreeTableAndCallTopo();
    conveyorPlanTopology.loading();
  });
</script>