{% load i18n sizeformat %}

<dt>{% trans "Name" %}</dt>
<dd>{{ propers.name|default:_("None") }}</dd>
<dt>{% trans "Admin State" %}</dt>
<dd>{{ propers.admin_state_up|yesno|capfirst }}</dd>
{% if propers.value_specs %}
  <dt>{% trans "Provider Network" %}</dt>
  <dd>{% trans "External Network:" %} {{ propers.value_specs.router__external|yesno|capfirst }}</dd>
  <dd>{% trans "Network Type:" %} {{ propers.value_specs.provider__network_type|default:_("Unknown") }}</dd>
  <dd>{% trans "Physical Network:" %} {{ propers.value_specs.provider__physical_network|default:_("-") }}</dd>
  <dd>{% trans "Segmentation ID:" %} {{ propers.value_specs.provider__segmentation_id|default:_("-") }}</dd>
{% endif %}
