{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Overview" %}{% endblock %}
{% block main %}
  <div id="resource_container" class="resource_container">
    <input id="id_action_type" name="action_type" type="hidden" value="">
	<input id="id_plan_type" name="plan_type" type="hidden" value="{{type}}">
	<input id="id_plan_id" name="plan_id" type="hidden" data-plan_id="{{ plan.plan_id }}" value="{{ plan.plan_id }}" />
	<input id="id_update_resource" name="update_resource" type="hidden" value="[]" />
	<input id="id_updated_resources" name="updated_resources" type="hidden" value="{}"/>
	<input id="id_dependencies" name="dependencies" type="hidden" value="{}"/>
	<div id="is_original" data-is_original="{{is_original}}"></div>
  </div>

<!-- Actions -->
  <!--AZ-->
    <div style="float: left">
        <select class="form-control" id="id_availability_zone" name="availability_zone" data-original-title="" title="">
            {%for az in azs%}<option value="{{az.zoneName}}" {%ifequal availability_zone az.zoneName %}selected="selected"{%endifequal%}>{{az.zoneName}}</option>{%endfor%}
        </select>
    </div>
    <div style="float: right"><a class="btn btn-default btn-sm ajax-modal btn-clone" href="{% url "horizon:conveyor:plans:destination" plan.plan_id %}">Clone</a></div>
{% if plan %}
<div>
    <div id="plan_deps_table">{{plan_deps_table}}</div>
	<div id="conveyor_plan_topology" style="position: relative">
        <div id="info_box" class="info_box"></div>
	    <div id="stack_box" class="stack_box"></div>
    </div>
	<div id="resource_info_box"></div>
	<div id="thumbnail">
		<div class="thbDetail"></div>
	</div>
	<div id="d3_data" data-d3_data="{{ d3_data }}"></div>
</div>
{% endif %}
{% endblock %}
{% block js %}
{% include "horizon/_scripts.html" %}
<style>
    #plan_deps_table .table > thead > tr > th{padding:4px 8px!important;}
    #plan_deps_table .table > tbody > tr > td{padding:0 8px!important;}
    #plan_deps_table .table > tbody > tr > td span{margin-left: 0!important;}
    .parent td{line-height: 30px!important;}
    [id|=node--1] > td > span{margin-left: -10px!important;}
</style>

<script type="text/javascript" src="{% static 'conveyordashboard/js/d3.v3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'conveyordashboard/js/json2.js' %}"></script>
<script type="text/javascript" src="{% static 'conveyordashboard/js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.utils.js' %}"></script>
<script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.topology.res.action.js' %}"></script>
    <script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.topology.js' %}"></script>

    <link rel="stylesheet" href="{% static 'conveyordashboard/css/jquery.treeTable.css' %}"/>
<script type="text/javascript" src="{% static 'conveyordashboard/js/jquery.treeTable.js' %}"></script>
<script type="text/javascript">
	$(function() {
        "use strict";
		$("#plan_deps").treeTable();
        $("g.node").click($node_click);
        var plan_id = '{{ plan.plan_id }}';
        $("a.btn-clone").click(function () {
            $.ajaxSetup({beforeSend: function(xhr, settings){xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));}});
            var postdata = {"plan_id": plan_id,
                "update_resource": $('#id_update_resource').val()};
            $.post(getPrefixUrl() + "conveyor/plans/{{ plan.plan_id }}/update_resource",postdata,function(data){
                {# TODO(drngsl): Pop window to show the failure message or not according to result data. #}
                console.log(data)
            });
        });
	});
</script>
{% endblock %}
