{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Overview" %}{% endblock %}
{% block main %}
<div id="hide_ori_data" style="display: none">{{ table }}</div>
{% endblock %}
{% block js %}
{% include "horizon/_scripts.html" %}
<style>
    #resource .table > thead > tr > th{padding:4px 8px!important;}
    #resource .table > tbody > tr > td{padding:0 8px!important;}
    #resource .table > tbody > tr > td span{margin-left: 0!important;}
	.parent td{line-height: 30px!important;}
	[id|=node--1] > td > span{margin-left: -10px!important;}
</style>
<link rel="stylesheet" href="{% static 'conveyordashboard/css/jquery.treeTable.css' %}"/>
<script type="text/javascript" src="{% static 'conveyordashboard/js/jquery.treeTable.js' %}"></script>
<script type="text/javascript" src="{% static 'conveyordashboard/js/conveyor.overview.js' %}"></script>
{% endblock %}
