{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
	{% if data.name %}<div class="form-group header"><label class="control-label">{{ data.name }}</label></div>{% endif %}
	<div class="form-group">  
  		<label class="control-label">{% trans "Routers" %}</label>
   		<div class=" ">
		<select class="form-control" name="routers" ori_net_id="{{ data.id }}">
		{{router}}
		{% for router in data.routers %}{{router}}<option name="router" value="{{ router.id }}" {%ifequal id routerk.id %}selected="selected"{%endifequal%}>{{ router.name }} {{ router.id }}</option>{% endfor %}
		</select>
	</div>
	</div>
</div>
