{% load i18n %}
<div class="contentBody detailInfoCon" resource_id="{{ resource_id }}" resource_type="{{ resource_type }}">
	<div class="form-group header">{{ data.name }}</div>
	<div class="form-group">
  		<label class="control-label">{% trans "Security Groups" %}</label>
    	<div class=" ">
    		<select class="form-control" name="sgs" ori_net_id="{{ data.id }}">
			{% for sg in data.secgroups %}
			{{sg.id}}{{id}}
			<option name="sg" value="{{ sg.id }}" {%ifequal id sg.id %}selected="selected"{%endifequal%}>{{ sg.name }} {{ sg.id }}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	{%if sg_table %}
	<div class="form-group">
  		<label class="control-label">{% trans "Rules" %}</label>
  		{{sg_table}}
	</div>
	{% endif %}
</div>
<div class="footer">
	<div class="cell delete">
		<button class="cancel btn btn-danger btn-xs">{% trans "Cancel" %}</button>
		<button class="save-info btn btn-danger btn-xs" del_rule_ids="">{% trans "Save" %}</button>
	</div>
</div>
<script>
$(function(){
	if($("#rules__action_add_rule").length){
		$("#rules__action_add_rule").click(function(){
			return false;
		})
	}
	if($("#rules__action_delete_rule").length){$("#rules__action_delete_rule").click(function(){remove_sg_rules("rules");return false;});}
	allow_sg_oper();
})
</script>